.dataContainer {
  min-height: 1400px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: 'InterBold';
  font-size: 40px;
  margin: 0;
}

.subtitle {
  font-family: 'InterLight';
  font-size: 16px;
  margin: 0;
  color: #6b6b6b;
}

.tagContainer {
  display: flex;
  gap: 12px;
}

.tag {
  font-size: 14px;
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  width: fit-content;
  text-align: center;
}

.activeTag {
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  width: fit-content;
  text-align: center;
}

.activeTag:hover,
.tag:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .container {
    gap: 32px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 14px;
  }

  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .container {
    gap: 28px;
  }

  .title {
    font-size: 30px;
  }
}
