.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: auto;
  width: 672px;
  min-height: calc(100vh - 67px);
  letter-spacing: -0.003em;
  font-size: 14px;
  color: #242424;
  box-sizing: border-box;
  user-select: text;
  margin-bottom: 30px;
  margin-top: 30px;
  gap: 16px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container h1 {
  font-family: 'InterBold';
  font-size: 32px;
}

.container h2 {
  font-family: 'InterBold';
  font-size: 28px;
}

.container h3 {
  font-family: 'InterBold';
  font-size: 24px;
}

.container p:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  display: block;
  text-align: start;
  font-size: 18px;
  font-family: 'InterRegular';
  line-height: 32px;
  letter-spacing: -0.003em;
  margin: 0;
}

.container p > img {
  max-height: none;
  width: 100%;
}

.container ul > li {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.003em;
  font-family: 'InterRegular';
}

.container ol > li {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.003em;
  font-family: 'InterRegular';
}

.container blockquote {
  font-size: 18px;
  border-left: 4px solid rgb(200, 200, 200);
  padding-left: 12px;
  margin: 0;
  line-height: 32px;
  letter-spacing: -0.003em;
  font-family: 'InterRegular';
}

.container pre code {
  background-color: #282c34;
  color: #abb2bf;
  padding: 12px;
  border-radius: 6px;
  display: block;
  overflow-x: auto;
  font-family: 'Courier New', monospace;
}

.divider {
  display: flex;
  width: 100%;
  border-top: 0.5px solid rgb(242, 242, 242);
}

.authorContainer {
  display: flex;
  flex-direction: row;
  margin: 14px 0px 14px 0px;
  align-items: center;
  gap: 12px;
}

.authorContainer:hover .author{
  text-decoration: underline;
  text-underline-offset: 2px;
}

.infoContainer{
  line-height: normal !important;
}

.posted {
  margin: 0;
  color: #6b6b6b;
  font-size: 14px !important;
  line-height: normal !important;
}

.fallbackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: auto;
  max-width: 1000px;
  height: calc(100vh - 67px);
  box-sizing: border-box;
}

.loadingText {
  display: flex;
  text-align: center;
}

.author {
  font-family: 'InterBold' !important;
  font-size: 16px !important;
  line-height: normal !important;
}

.portrait {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.tag {
  font-size: 14px;
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  width: 64px;
  text-align: center;
}

@media (max-width: 1300px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 500px;
  }

  .container p > img {
    max-height: none;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    justify-content: start;
    align-items: start;
    margin: 0;
  }

  .container h1 {
    font-size: 28px;
  }

  .container h2 {
    font-size: 24px;
  }

  .container h3 {
    font-size: 20px;
  }

  .container p {
    font-size: 18px;
  }

  .container ul > li {
    font-size: 18px;
  }

  .container ol > li {
    font-size: 18px;
  }

  .container blockquote {
    font-size: 18px;
  }

  .container img {
    max-height: 400px;
  }
}
