.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 36px;
    margin: 36px 0px 36px 0px;
}

.switcher{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.switcherButton{
    flex-grow: 1;
    flex-basis: 50%;
    text-align: center;
}

.switcherButton:hover{
    cursor: pointer;
}