.centerWrapper {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  pointer-events: none;
}

.wrapper {
  background-color: black;
  border-radius: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 180px;
  pointer-events: all;
}

.wrapper:hover {
  cursor: pointer;
}

.trackInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.image {
  border-radius: 20px;
  height: 150px;
  width: 150px;
}

.textWrapper {
  line-height: 1.4;
}

.title {
  font-size: 12px;
  font-family: 'InterLight';
}

.trackName {
  font-size: 16px;
  font-family: 'InterBold';
}

.trackName:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.artistName {
  font-size: 14px;
  font-family: 'InterRegular';
}

.soundwaveWrapper {
  scale: 1.75;
  margin: 0px 24px;
}

@media (max-width: 600px) {
  .wrapper {
    width: 380px;
    height: 137px;
  }

  .image {
    width: 107px;
    height: 107px;
  }

  .soundwaveWrapper {
    scale: 1.5;
    margin: 0 16px;
  }

  .title {
    font-size: 11px;
  }

  .trackName {
    font-size: 14px;
  }

  .artistName {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .wrapper {
    width: 300px;
    height: 108px;
  }

  .image {
    width: 85px;
    height: 85px;
  }

  .soundwaveWrapper {
    scale: 1.25;
    margin: 0 12px;
  }

  .title {
    font-size: 10px;
  }

  .trackName {
    font-size: 13px;
  }

  .artistName {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .wrapper {
    width: 270px;
    height: 96px;
    padding: 10px;
  }

  .image {
    width: 75px;
    height: 75px;
  }

  .soundwaveWrapper {
    display: none;
  }

  .title {
    font-size: 9px;
  }

  .trackName {
    font-size: 12px;
  }

  .artistName {
    font-size: 10px;
  }
}
