@import 'tailwindcss';

@font-face {
  font-family: 'InterRegular';
  src: url('/fonts/Inter_24pt-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'InterBold';
  src: url('/fonts/Inter_24pt-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'InterLight';
  src: url('/fonts/Inter_24pt-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'HitMePunk';
  src: url('/fonts/hit-me-punk.ttf') format('opentype');
}

@theme {
  --font-inter: 'InterRegular', system-ui, sans-serif;
  --font-inter-bold: 'InterBold', system-ui, sans-serif;
  --font-inter-light: 'InterLight', system-ui, sans-serif;
  --font-hit-me-punk: 'HitMePunk', system-ui, sans-serif;
}

body {
  font-family: 'InterRegular';
  margin: auto;
  user-select: none;
  line-height: normal;
}
