.container {
  background-color: black;
  padding: 8px;
  border-radius: 24px;
  color: white;
}

.container:hover{
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.image {
  width: 24px;
  height: 24px;
}

.trackText {
  transition: transform 0.5s ease-in;
  transition: all 0.5s ease;
}

@media(max-width:600px){
  .image {
    width: 20px;
    height: 20px;
  }
}